@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

h1, h2, h3, h4, p, a, span {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.7rem;
}

h2 {
  color: #444;
  font-family: 'Segoe UI', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}

h3 {
  color: #555;
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  color: #666;
  font-size: 1.3rem;
}

p {
  color: #777;
}

a {
  color: #43a1ff;
}

span {
  color: #555;
  font-family: 'Segoe UI', sans-serif;
  font-size: .95rem;
}

img, video {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
}

header {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.header_nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo_desktop {
  align-items: center;
  color: #444;
  display: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  letter-spacing: .08rem;
  text-transform: uppercase;
}

.logo_desktop:hover {
  color: #444;
}

.logo_desktop span {
  color: #999;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.logo_desktop span:hover {
  color: #999;
}

.desktop_header_nav {
  display: none;
  justify-content: space-around;
  padding-right: 1.5rem;
}

.desktop_header_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.desktop_header_nav li {
  padding-right: 1rem;
}

main {
  margin: 0 auto;
  max-width: 1024px;
  padding-top: 4rem;
}

.jumbotron {
  background-color: #ccc;
}

.jumbotron_text {
  margin: 2rem 1rem 0 1rem;
  padding-bottom: 2rem;
}

.jumbotron h2 {
  line-height: 2.5rem;
}

.jumbotron h3 {
  line-height: 2rem;
  margin: 2rem 0 1.5rem;
}

.jumbotron button {
  background-color: #999;
  border: none;
  color: #eee;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.5rem;
  padding: .5rem 0;
  width: 100%;
}

.jumbotron button:hover {
  background-color: #444;
}

.dj_headline,
.desktop_sl_image
 {
  display: none;
}

.sideline h3,
.sideline p,
.sideline a {
  margin: 1rem 1rem 1rem;
}

.sideline {
  padding: 1rem;
}

.sideline a:hover {
  color: #444;
}

.gallery h2,
.thesis h2 {
  border-top: solid 1px #eee;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.mobile_gallery {
  margin: 1rem 1rem 2rem 1rem;
}

.mobile_gallery h3 {
  background-color: #ddd;
  margin-bottom: .5rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

.mobile_gallery h3:hover {
  background-color: #444;
  color: #ddd;
}

.desktop_gallery {
  display: none;
}

.thesis h2 {
  margin-bottom: 1rem;
}

.thesis video {
  padding: 1rem 0 1.5rem;
}

.desktop_thesis-hl_text,
.desktop_thesis-sl {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.desktop_footer_nav {
  display: none;
}

@media only screen and (min-width: 620px) {
  header a {
    color: #444;
  }

  header a:hover {
    color: #43a1ff;
  }

  .header_nav {
    justify-content: space-between;
    padding-right: 1.5rem;
    width: auto;
  }

  .logo {
    padding-left: 1.5rem;
  }

  .desktop_header_nav {
    display: flex;
  }

  .mobile_header_nav {
    display: none;
  }

  .logo_desktop {
    display: inherit;
  }

  .jumbotron {
    display: flex;
  }

  .jumbotron img {
    margin: 2rem 1.5rem;
    width: 60%;
  }

  .jumbotron_text {
    margin: auto 0;
    padding-left: 0;
    width: 40%;
  }

  .jumbotron_text h2,
  .jumbotron_text h3,
  .jumbotron_text button{
    width: 65%;
  }

  .mobile_sl_image {
    display: none;
  }

  .desktop_jumbotron {
    display: flex;
    flex-direction: row;
  }

  .dj_headline,
  .desktop_sl_image {
    display: inherit;
  }

  .dj_headline {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem;
    width: auto;
  }

  .dj_headline h2 {
    margin: 2rem 0 1.5rem;
  }

  .dj_headline p {
    margin-bottom: 2rem;
  }

  .dj_sideline {
    display: none;
  }

  .gallery {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 0 4.5rem 2rem 4.5rem;
  }

  .gallery h2 {
    margin-bottom: 2rem;
  }

  .desktop_gallery_row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .desktop_gallery_row2 {
    display: flex;
    flex-direction: row;
  }

  .desktop_gallery {
    background-color: white;
    width: 33.33%;
  }

  .desktop_gallery img {
    height: auto;
  }

  .desktop_gallery h3 {
    margin: 1rem 1rem 1.5rem 1rem;
  }

  .desktop_gallery h4 {
    margin: 0 1rem 1rem 1rem;
  }

  .desktop_gallery p {
    margin: 0 1rem 1.5rem 1rem;
  }

  .dg_mid {
    margin: 0 2rem;
  }

  .mobile_gallery {
    display: none;
  }

  .desktop_gallery {
    display: inherit;
    display: flex;
    flex-direction: column;
  }

  .thesis h2 {
    margin-bottom: 2rem;
  }

  .thesis_content {
    display: flex;
    flex-direction: row;
  }

  .thesis_content video {
    display: flex;
    flex-direction: column;
  }

  .desktop_thesis-hl {
    width: auto;
  }

  .desktop_thesis-hl_text,
  .desktop_thesis-sl {
    display: none;
  }
}

@media only screen and (min-width: 1050px) {
  .dj_headline {
    width: 60%;
  }

  .dj_sideline {
    border-left: solid 1px #eee;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 40%;
  }

  .thesis {
    border-bottom: solid 1px #eee;
    padding-bottom: 2rem;
  }

  .desktop_thesis-hl {
    margin: 0 1.5rem;
    width: 60%;
  }

  .desktop_thesis-hl_text {
    display: flex;
    flex-direction: column;
  }

  .desktop_thesis-hl_text h3 {
    margin-bottom: 1.5rem;
  }

  .desktop_thesis-sl {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .sideline {
    border-bottom: solid 1px #eee;
    display: flex;
    flex-direction: row;
  }

  .sideline:hover {
    background-color: #ccc;
  }

  #sl_noborder {
    border: none;
  }

  .sideline img {
    height: auto;
    width: 35%;
  }

  .sideline_text {
    width: 65%;
  }

  footer {
    padding-left: 1.5rem;
  }

  .desktop_footer_nav {
    display: inherit;
  }

  .desktop_footer_nav a {
    color: #555;
    font-size: .95rem;
    margin-right: 1.5rem;
  }

  .desktop_footer_nav a:hover {
    color: #43a1ff;
  }
}
